<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <title>All Students - eRegistrar</title>
</head>
<body>
<header th:replace="fragments/header :: eregistrar-header" ></header>
<div class="container">
    <h3>All Students</h3>
    <hr/>
    <div style="font-size: 1em">
        <table id="student-table" class = "table table-striped">
             <thead>
                <tr>
                    <th>#</th>
                    <th>Student Number</th>
                    <th>Student Name</th>
                    <th>CGPA</th>
                    <th>Enrollment Date</th>
                    <th>International</th>
                    <th></th>
                    <th></th>

                </tr>
             </thead>
            <tbody>
                <tr th:each="student, counter : ${students}">
                    <th th:text="${counter.count}"></th>
                    <th th:text="${student.studentNumber}"></th>
                    <td th:text="${student.firstName} + ' ' + ${student.middleName} + ' ' + ${student.lastName}"></td>
                    <td th:if="${student.cgpa} != null" th:text="${student.cgpa}"></td>
                    <td th:text="${student.dateOfEnrollment}"></td><!--TODO replace with th:date when fixed-->
                    <td th:text="${student.isInternational}"></td>
                    <td><a th:href="@{'/eregistrar/students/edit/{studentId}'(studentId=${student.studentId})}">Edit</a></td>
                    <td><a th:href="@{'/eregistrar/students/delete/{studentId}'(studentId=${student.studentId})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>